/* Include font */
body {
	font-family: "proxima_nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	background-position: center;
	color: white;
	font-size: 0.5em;
	text-shadow: #333333 2px 2px 3px;
}
p {
	margin-top: 1.625rem;
	height: 3.25rem;
	margin-left: auto;
	margin-right: auto;
	width: 26.75rem;
	position: relative;
	z-index: 10;
}

input {
        border: 0;
	height: 100%;
	float: center;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	height: 3.25rem;
	font-size: 1.2rem;
	font-weight: 300;
	color: #444;
	background: white;
	border-radius: 4px;
	border: none;
}
email-form, .username-form {
	margin-top: 1.625rem;
	margin-left: auto;
	margin-right: auto;
	width: 30rem;
	position: relative;
	z-index: 10;
}

.pageInfo {
	font-size: 6em;
	padding: 10px;
	position: absolute;
	top: 40%;
	width: 50%;
	left: 40%;
}

#page3Image {
	top: 40%;
	left: 10%;
	position: absolute;
	box-shadow: 5px 5px 5px #222;
	height: 20%;
}

.contact {
	position: absolute;
	bottom: 10px;
	width: 100%;
	font-size: 1.5em;
	font-width: bold;
}

input[type="button"]{
	background: #e7704b;
	color: white;
	font-weight: 600;
	height: 3.45rem;
	text-align: center;
	top: 0px;
	right: 0px;
	border: none;
	cursor: pointer;
	outline: 0;
	margin-left: 5px;
}

input[type="submit"]{
	background: #e7704b;
	color: white;
	font-weight: 600;
	text-align: center;
	top: 0px;
	right: 0px;
	border: none;
	cursor: pointer;
	outline: 0;
}
	
.waitUntilLoaded{
	opacity: 0;
	
}
.title{
	color: #FFFFFF;
	font-size: 4em;
	position: absolute;
	top: 25px;
	left: 25px;
	vertical-align: top;
}
.appStore{
	color: #FFFFFF;
	font-size: 4em;
	position: absolute;
	top: 25px;
	right: 25px;
	vertical-align: top;
}
.inputs{
	position: absolute;
	width: 100%;
	top: 40%;
}
.inviteText{
	font-size: 3em;
}
.hidden{
	opacity: 0;
}
.description{
	width: 100%;
	top: 20%;
	position: absolute;
}
.descriptionMain{
	font-size: 7em;
	margin: 50px;
}
.descriptionSubtext{
	font-size: 3em;
}
.overlay{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.logo{
	width:50px;
	opacity: 0.8;
}

.failedSubmit {
	top: 75%;
	width: 100%;
	position: absolute;
}

#invalidEmail{
	background-color:#FF0000;
	padding: 20px;
	margin: 20px auto;
	opacity: 0;
	font-size: 1.5em;
}
.learnMoreContainer{
	position: absolute;
	top: 65%;
	width: 100%;
}
@media (max-width: 500px) {
	body{
		font-size: 50%;
	}
}
@media screen and (max-aspect-ratio: 3/2){
	.mainPage{
		background-size: auto 100%;
	}
}

/**
 * Parallax Scrolling
 * For Hunch Pty Ltd
 * July 2014
 *  
 * 
 *		   
 * 		   
 */
*{
	font-family: "proxima_nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

	
.email-input {
float: left;
padding-left: 1.2rem;
padding-top: 0.1rem;
width: 23rem;
height: 3.25rem;
line-height: 3.25rem;
font-size: 1.2rem;
font-weight: 300;
color: #444;
background: white;
border: none;
}


.transbox {background-color: #ffffff; opacity: 1; opacity: alphavalue}


.feature-forward {
	background-color: #fff;
	opacity: 1;
	width: 52px;
	height: 52px;
	position: absolute;
	left: 50%;
	top: 55px;
	margin-left: -26px;
	cursor: pointer;
	z-index: 10;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('http://img03.mifile.cn/webfile/images/2014/cn/goods/mi4/ma/fea-24_2x.png');
	background-size:52px
}

#first {
	width: 100%;
	alignment-baseline: after-edge;
	background: url(images/images/slide2.png) 100% 0 no-repeat fixed;
}
#second {
	background: url(images/images/slide4.png) 100% 0 no-repeat fixed;
}
#third { 
	background: url(images/images/slide3.png) 100% 0 no-repeat fixed;
}
#forth { 
	background: url(images/images/puckered.png) 40% 0 no-repeat fixed;
}

