body {
	margin: 0;
	padding: 0;
}

section {
	height: 1000px;
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#slide1 { 
	background: url(../images/slide1.png) 50% 0 no-repeat fixed; 
}

#slide2 { 
	background: url(../images/slide2.png) 50% 0 no-repeat fixed; 
}

#slide3 { 
	background: url(../images/slide3.png) 50% 0 no-repeat fixed; 
}

#slide4 { 
	background: url(../images/slide4.png) 50% 0 no-repeat fixed; 
}

#slide5 { 
	background: url(../images/slide1.png) 50% 0 no-repeat fixed; 
}


/* Introduction */

article {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
