/**
 * Parallax Scrolling
 * For Hunch Pty Ltd
 * July 2014
 *  
 * 
 *		   
 * 		   
 */

article h2 { font-family: 'Lobster Two'; font-size: 80px; margin: 25px 0; line-height: 1em;}



.story { 
	height: 1000px; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	border-top: 0px solid rgba(255,255,255,0.3); 
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

input {
        border: 0;
    }
	input[type="submit"]{
      background: #e7704b;
      color: white;
	  font-weight: 600;
	  height: 3.45rem;
	  text-align: center;
	  top: 0px;
	  right: 0px;
	border: none;
		cursor: pointer;
outline: 0;
    }

	
.email-input {
float: left;
padding-left: 1.2rem;
padding-top: 0.1rem;
width: 23rem;
height: 3.25rem;
line-height: 3.25rem;
font-size: 1.2rem;
font-weight: 300;
color: #444;
background: white;
border: none;
}


.transbox {background-color: #ffffff; opacity: .8; opacity: alphavalue}


.feature-forward {background-color: #fff; opacity: 1; ;width:52px;height:52px;position:absolute;left:50%; top: 55px;margin-left:-26px;cursor:pointer;z-index:10;background-repeat:no-repeat;background-position:center center;background-image:url('http://img03.mifile.cn/webfile/images/2014/cn/goods/mi4/ma/fea-24_2x.png');background-size:52px}

#first { width:100% ;alignment-baseline: after-edge;; background: url(../images/puckered.png) 100% 0 no-repeat fixed; }
#second { background: url(../images/slide2.png) 40% 0 no-repeat fixed; }
#fourth { background: url(../images/slide3.png) 100% 0 no-repeat fixed; }
#third { background: url(../images/slide4.png) 100% 0 no-repeat fixed; }
#theend { background: url(../images/puckered.png) 50% bottom no-repeat fixed; }

/* Introduction */
#first .smashinglogo { background: url(../images/smashing-logo.png) 50% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; opacity: .9; }
#first article { background-color: #fff;: ;position: absolute;width: 200%; top: 30px; color: #000; width: 620px; margin-left: 30px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; border: 1px solid rgba(150,150,150,0.1);}
#first article a { color: #FFF;}
#first h3 { 
		
		text-align: center;
		margin-left: 39.5%;
				position: absolute;
				top: 500px;
		color: white;
      font-family: helvetica;
	  font-size: larger;
	  }
	  
	


/* Personal Network*/
#second { padding: 50px 0;}
#second article { background-color: #fff; opacity: .7; opacity: alphavalue=40; color: #000; width: 445px; margin-left: 100px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#second article p { margin-bottom: 25px; }
#second article a { color: #ff0;}

/* Photograph */
#third article {  background-color: #fff; opacity: .6; padding: 10px 20px; margin: 100px 0 0 60%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #000; position: absolute; top: 0; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#third .photograph { background: url(../images/photo.png) transparent 60% 100px no-repeat fixed; min-height: 1000px; padding: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#third article p { width: 400px; margin-bottom: 25px; }
#third .photo {margin-left: 30px;}

/* HTML5 Video */
#fourth article { background-color: #fff;opacity: .7; ;position: absolute;margin-left:30 ;width: 200%; top: 30px; color: #000; width: 445px; margin-left: 100px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1);}
#fourth video { position: absolute;left: 10%; box-shadow: 0 0 25px rgba(0,0,0,0.7); z-index: 1;}

/* The End */
#theend .byebye { background: url(../images/theend.png) 40% 100px no-repeat fixed; height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#theend article { position: absolute; bottom: 0; left: 0;background-color: #fff; opacity: .9; width: 445px; margin-left: 100px; padding: 10px 20px; line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#theend article p { margin-bottom: 25px; }
#theend article a { color: #000;}
#theend h3 { 
		
		text-align: center;
		margin-left: 39.5%;
				position: absolute;
				top: 600px;
		color: white;
      font-family: helvetica;
	  font-size: larger;
	  }
	  

